<div>
    <h1>Benefits Summary</h1>
    <hr>
    <div class="col-md-4">
        <div class="form-group">
            <label for="employees">Current Employees:</label>
            <select (change)="onChange($event.target.value)" id="employees" class="form-control">
                <option>Please choose Employee</option>
                <option *ngFor="let employee of employeeList" [value]="employee.id">{{employee.firstName}} {{employee.lastName}}</option>
            </select>
        </div>
    </div>
</div>